@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css');


*, *:before, *:after {
  box-sizing: border-box;
}
.chat .chat-history {
  /*padding: 30px 30px 20px;*/
  border-bottom: 2px solid white;
  margin-right: 25px;
}
.chat .chat-history .message-data {
  margin-bottom: 10px;
}
.chat .chat-history .message-data-time {
  color: #a8aab1;
  padding-left: 6px;
}
.chat .chat-history .message {
  color: white;
  padding: 1px 10px;
  line-height: 26px;
  font-size: 14px;
  border-radius: 5px;
  width: 90%;
  position: relative;
}
.chat .chat-history .message:after {
content: "";
    position: absolute;
    top: -15px;
    left: 20px;
    border-width: 0 15px 15px;
    border-style: solid;
    border-color: #d90be8 transparent;
    display: block;
    width: 0;
}
.chat .chat-history .you-message {
  background: #d90be8;
  color:#fff;
}
.chat .chat-history .me-message {
  background: #2727ea;
}
.chat .chat-history .me-message:after {
  border-color: #2727ea transparent;
    right: 20px;
    top: -15px;
    left: auto;
    bottom:auto;
}
.chat .chat-message {
  padding: 30px;
}
.chat .chat-message .fa-file-o, .chat .chat-message .fa-file-image-o {
  font-size: 12px;
  color: gray;
  cursor: pointer;
}

.chat-ul li{
    list-style-type: none;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.float-right {
  float: right;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.you {
  color: #CCDBDC;
}

.me {
  color: #E9724C;
}

h1, h2, h3, h4, h5, h6 {
    /*font-family: "Raleway",sans-serif;
    color: #003366;*/
    color: black;
}
