<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Elevent</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="bower_components/angularjs-datepicker/src/css/angular-datepicker.css">
    <link rel="stylesheet" type="text/css" href="styles/mystyle.css">

    <link rel="stylesheet" type="text/css" href="styles/row-horizon.css">
    <link rel="stylesheet" type="text/css" href="styles/message.css">
    <link rel="stylesheet" type="text/css" href="styles/timeline2.css">
    <link rel="stylesheet" type="text/css" href="styles/circleBtn.css">
    <link href='//fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.min.css">
    <!-- build:css(.tmp) styles/main.css -->
    <!-- <link rel="stylesheet" href="styles/main.css"> -->
    <link rel="stylesheet" href="./bower_components/v-button/dist/v-button.css">
    <link rel="stylesheet" href="./bower_components/adm-dtp/dist/ADM-dateTimePicker.css">
    <link rel="stylesheet" href="./bower_components/ngToast/dist/ngToast.css">
    <!-- endbuild -->
</head>
<style type="text/css">
    body {
        position: relative;
        font-family: 'Montserrat';
    }
</style>

<body ng-app="EleventApp" ng-cloak>
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!--[if lt IE 9]>
      <script src="bower_components/es5-shim/es5-shim.js"></script>
      <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->
    <!-- Add your site or application content here -->
    <nav style="display: none" class="navbar navbar-default navbar-inverse e-nav" ng-controller="MainCtrl">
        <div class="container-fluid">
            <div class="navbar-header">
                <!-- <a ng-controller="MainCtrl" class="navbar-brand" style=" display:inline-block; color: #fff; font-size: 40px; margin-top: 10px;" href="#">
                <img src="images/logo.png" width="50" height="60">
                {{title}}
                </a> -->
                <a class="navbar-brand" href="#" style="font-size: 40px; color: #fff;">
                    <img class="img-responsive" width="50" height="50" style="display:inline-block;  margin-top:-9px;" src="images/logo.png" alt="logo" /> {{title}}
                </a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <ul class="nav navbar-nav" style="margin-top: 5px;">
                    <!-- <li>
                        <a href="#"><i class="fa fa-bell fa-2x" style="color: #fff;"></i><div style="font-size: 14px; background:#42b6f4; margin-top: -30px; margin-left: -12px;" class="badge">6</div> </a>
                    </li> -->
                    <li>
                        <a href="#"><i class="fa fa-cog fa-2x" style="color: #fff;"></i> </a>
                    </li>
                </ul>
                <li><a style="color: #fff; font-size: 20px;" href>{{currentUser.name}}<img style="margin-left: 10px" ng-src="{{currentUser.image}}" alt="{{currentUser.name}}" class="img-circle" width="40" height="40" /> </a></li>
                <li ng-show="currentUser"><a href style="margin-top: 8px" ng-click="logout()">Logout</a></li>
            </ul>
        </div>
    </nav>
    <div style="display: none" id="sideBar" class="pull-left e-nav">
        <ul>
            <li>
                <a href><i class="fa fa-th-large fa-4x" id="hidden-menu-btn" ng-click="showMenu()"></i> </a>
            </li>
            <li>
                <a href><i class="fa fa-folder-open fa-4x" ></i> </a>
            </li>
            <li>
                <a href><i class="fa fa-address-card fa-4x" ></i> </a>
            </li>
        </ul>
    </div>
    <div style="min-width: 150px; background-color: white; z-index: 10; position: absolute; margin-top: 90px;" id="hidden-menu" ng-show="menu">
        <!-- <div class="row" style="margin-top: 40px; margin-right: 20px; margin-left: 20px;">
            <div class="col-lg-6 col-md-6 col-sm-6" style="text-align: center;">
                <a href="#"><i class="fa fa-pencil fa-3x" style="color: black;" ></i> </a>
                <span class="customList">NOTES</span>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6" style="text-align: center;">
                <a href="#"><i class="fa fa-list fa-3x" style="color: black;" ></i> </a>
                <span class="customList">CHECKLIST</span>
            </div>
        </div> -->
        <div class="row text-center" ng-controller="MainCtrl" style="margin-top: 40px; margin-right: 20px; margin-left: 20px;">
            <!-- <div class="col-lg-6 col-md-6 col-sm-6" style="text-align: center;">
                <a href="#"><i class="fa fa-calendar fa-3x" style="color: black;" ></i> </a>
                <span class="customList">CALENDER</span>
            </div> -->
            <div class="col-lg-3 col-md-6 col-sm-6" style="text-align: center;">
                <a href ng-click="go('timeline')"><i class="fa fa-clock-o fa-3x" style="color: black;" ></i> </a>
                <span class="customList">TIMELINE</span>
            </div>
        </div>
        <div class="row" ng-controller="MainCtrl" style="margin-top: 40px; margin-right: 20px; margin-left: 20px;">
            <div class="col-lg-3 col-md-6 col-sm-6" style="text-align: center;">
                <a href ng-click="go('vendor')"><i class="fa fa-flag fa-3x" style="color: black;" ></i> </a>
                <span class="customList">VENDORS</span>
            </div>
            <!-- <div class="col-lg-6 col-md-6 col-sm-6" style="text-align: center;">
                <a href="#"><i class="fa fa-list fa-3x" style="color: black;" ></i> </a>
                <span class="customList">INSPIRATION</span>
            </div> -->
        </div>
        <!-- <div class="row" style="margin-top: 40px; margin-right: 20px; margin-left: 20px;">
            <div class="col-lg-6 col-md-6 col-sm-6" style="text-align: center;">
                <a href="#"><i class="fa fa-user fa-3x" style="color: black;" ></i> </a>
                <span class="customList">GUESTS</span>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6" style="text-align: center;">
                <a href="#"><i class="fa fa-money fa-3x" style="color: black;" ></i> </a>
                <span class="customList">BUDGET</span>
            </div>
        </div> -->
        <div class="row" style="margin-top: 40px; margin-bottom: 20px; margin-right: 20px; margin-left: 20px;">
            <div class="col-lg-3 col-md-6 col-sm-6" style="text-align: center;">
                <a href="#"><i class="fa fa-users fa-3x" style="color: black;" ></i> </a>
                <span class="customList">TEAMS</span>
            </div>
            <!-- <div class="col-lg-6 col-md-6 col-sm-6" style="text-align: center;">
                <a href="#"><i class="fa fa-comments fa-3x" style="color: black;" ></i> </a>
                <span class="customList">MESSAGES</span>
            </div> -->
        </div>
    </div>
    <toast></toast>
    <div ng-controller="MainCtrl" ui-view="" class="main-content" style="background-image: url({{bg}});">

    </div>
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
    <script>
        (function(i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function() {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-XXXXX-X');
        ga('send', 'pageview');
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <!-- build:js scripts/modules.js -->
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angularjs-datepicker/src/js/angular-datepicker.js"></script>
    <script src="bower_components/ng-file-upload/ng-file-upload.min.js"></script>
    <script src="bower_components/angular-svg-round-progressbar/build/roundProgress.js"></script>
    <script src="bower_components/adm-dtp/dist/ADM-dateTimePicker.js"></script>
    <script src="bower_components/angular-bootstrap-multiselect/dist/angular-bootstrap-multiselect.min.js"></script>
    <script src="bower_components/ng-file-upload-shim/ng-file-upload-shim.js"></script>
    <script src="bower_components/ng-file-upload-shim/ng-file-upload.js"></script>
    <script src="scripts/multiselect.js"></script>
    <script src="bower_components/v-button/dist/v-button.js"></script>
    <script src="bower_components/angular-spinner/dist/angular-spinner.min.js"></script>
    <script src="bower_components/ngToast/dist/ngToast.js"></script>
    <!-- endbuild -->
    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/services/LoopBack.js"></script>
    <script src="scripts/services/AuthService.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/controllers\main.js"></script>
    <script src="scripts/controllers/dashboard.js"></script>
    <script src="scripts/controllers\dashboard.js"></script>
    <script src="scripts/controllers/timeline.js"></script>
    <script src="scripts/controllers\timeline.js"></script>
    <script src="scripts/controllers/eventCreate.js"></script>
    <script src="scripts/controllers\eventCreate.js"></script>
    <script src="scripts/controllers/createTimeline.js"></script>
    <script src="scripts/controllers\createTimeline.js"></script>
    <script src="scripts/controllers/createVendor.js"></script>
    <script src="scripts/controllers\createVendor.js"></script>
    <script src="scripts/controllers/login.js"></script>
    <script src="scripts/controllers\login.js"></script>
    <script src="scripts/controllers/signup.js"></script>
    <script src="scripts/controllers\signup.js"></script>
    <script src="scripts/controllers/vendor.js"></script>
    <script src="scripts/controllers\vendor.js"></script>
    <script src="scripts/controllers/collaborate.js"></script>
    <script src="scripts/controllers\collaborate.js"></script>

    <script src="scripts/controllers\editTimeline.js"></script>
    <!-- endbuild -->
</body>

</html>