<style type="text/css">
    ul {
        list-style: none;
    }
    
    input[type="text"] {
        background: transparent;
        color: white;
        border: solid 2px;
    }
    
    input[type="file"] {
        background: transparent;
        color: white;
    }
    
    option {
        color: black;
    }
</style>
<div class="row" style="margin-top: -60px;">
    <div class="col-lg-7 col-md-9 col-sm-9 col-xs-9 entery-cards shadow">
        <div class="entery-extras">
            <form ng-submit="invite()">
                <ul>
                    <li>
                        <div class="col-lg-4 col-md-3 col-sm-6" style="margin-top: 10px;">
                            <label for="type">Name:</label>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-12" style="margin-top: 10px;">
                            <input ng-model="collaborator.name" type="text" class="form-control" style="background-color: transparent; border: solid 2px white; color: white">
                        </div>
                    </li>
                    <li>
                        <div class="col-lg-4 col-md-3 col-sm-6" style="margin-top: 10px;">
                            <label for="type">Email:</label>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-12" style="margin-top: 10px;">
                            <input ng-model="collaborator.email" type="email" class="form-control" style="background-color: transparent; border: solid 2px white; color: white">
                        </div>
                    </li>
                    <li>
                        <div class="col-lg-4 col-md-3 col-sm-6" style="margin-top: 10px;">
                            <label for="type">Select Role:</label>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-12" style="margin-top: 10px;">
                            <select ng-model="collaborator.role" class="form-control" name="projects" style="background-color: transparent; border: solid 2px white; color: white">
                                <option value="">Select</option>
                                <option value="view">View Only</option>
                                <option value="edit">View and Edit</option>
                            </select>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-12" style="margin-top: 10px;">
                            {{err}}
                        </div>
                    </li>
                    <li class="text-center">
                        <button type="submit" ng-disabled="isInvite" v-busy="isInvite" v-busy-label="Please wait" v-pressable style="margin-top: 20px; background: transparent; border: solid 2px #2e6da4; width: 100%;" class="btn btn-primary Button">Invite</button>
                    </li>
                </ul>
            </form>
        </div>
    </div>
</div>