<style type="text/css">
    ul {
        list-style: none;
    }
    
    input[type="text"] {
        background: transparent;
        color: black;
        border: solid 1px #cfcfcf;
    }
    
    input[type="file"] {
        background: transparent;
        color: black;
    }
    
    option {
        color: black;
    }
</style>
<div class="row" style="margin-top: -60px;">
    <div class="col-lg-11 col-md-9 col-sm-9 col-xs-9 entery-cards shadow">
        <div class="entery-extras">
            <form ng-submit="createEvent()">
                <ul>
                    <li>
                        <div class="col-lg-3 col-md-3 col-sm-6" style="margin-top: 10px;">
                            <label for="type">Project Type:</label>
                        </div>
                        <div class="col-lg-9 col-md-8 col-sm-12" style="margin-top: 10px;">
                            <select ng-model="event.type" class="form-control" name="projects" style="background-color: transparent; border: solid 1px #cfcfcf; color: black">
                                <option value="">Select</option>
                                <option value="Birthday">Birthday</option>
                                <option value="Wedding">Wedding</option>
                                <option value="Corporate-Event">Corporate Event</option>
                            </select>
                        </div>
                    </li>
                    <li>
                        <div class="col-lg-3 col-md-3 col-sm-6" style="margin-top: 20px;">
                            <label for="projectName">Project Name:</label>
                        </div>
                        <div class="col-lg-9 col-md-8 col-sm-12" style="margin-top: 20px;">
                            <input type="text" ng-model="event.title" class="form-control" id="projectName">
                        </div>
                    </li>
                    <li>
                        <div class="col-lg-3 col-md-3 col-sm-6" style="margin-top: 20px;">
                            <label for="email">Project Date:</label>
                        </div>
                        <div class="col-lg-9 col-md-8 col-sm-12" style="margin-top: 20px;">
                            <adm-dtp ng-model='event.date' options='{calType: "gregorian",default: "today"}'></adm-dtp>
                        </div>
                    </li>
                    <li>
                        <div class="col-lg-3 col-md-3 col-sm-6" style="margin-top: 20px;">
                            <label for="guestCount">Guests Count:</label>
                        </div>
                        <div class="col-lg-9 col-md-8 col-sm-12" style="margin-top: 20px;">
                            <input type="text" ng-model="event.guests" class="form-control" id="guestCount">
                        </div>
                    </li>
                    <li>
                        <div class="col-lg-3 col-md-3 col-sm-6" style="margin-top: 20px;">
                            <label for="eventVenue">Event Venue:</label>
                        </div>
                        <div class="col-lg-9 col-md-8 col-sm-12" style="margin-top: 20px;">
                            <input type="text" ng-model="event.venue" class="form-control" id="eventVenue">
                        </div>
                    </li>
                    <li>
                        <div class="col-lg-3 col-md-3 col-sm-6" style="margin-top: 20px;">
                            <label for="email">Project Image:</label>
                        </div>
                        <div class="col-lg-9 col-md-8 col-sm-12" style="margin-top: 20px;">
                            <!-- <button class="btn btn-primary">Select Image</button> -->
                            <input ngf-select ng-model="file" name="file" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="10MB" type="file" style="border: 1px solid #cfcfcf;padding: 4px 10px;" class="form-control" id="file">
                        </div>
                    </li>

                    <li style="clear: both">

                        <button ng-disabled="isEventCreate" type="submit" v-busy="isEventCreate" v-busy-label="Please wait" v-pressable type="submit" style="color:black;float: right;margin-top: 20px; background: transparent;margin-right: 15px ;border: solid 1px #cfcfcf;" class="btn btn-primary Button">Create Event</button>
                        <div class="clearfix"></div>
                    </li>
                </ul>
            </form>
        </div>
    </div>
</div>