<style type="text/css">
ul {
    list-style: none;
}

input[type="text"] {
    background: transparent;
    color: white;
    border: solid 2px;
}

input[type="file"] {
    background: transparent;
    color: white;
}

option {
    color: black;
}

</style>
<div class="row" style="margin-top: -60px;">
    <div class="col-lg-4 col-md-8 col-sm-7 col-xs-7 entery-cards shadow">
        <div class="entery-extras">
            <form>
                <ul>
                    <li>
                        <div class="col-lg-4 col-md-3 col-sm-6" style="margin-top: 10px;">
                            <label for="type">Project Type:</label>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-12" style="margin-top: 10px;">
                            <select class="form-control" name="projects" style="background-color: transparent; border: solid 2px white; color: white">
                                <option value="">Select</option>
                                <option value="black">Black</option>
                                <option value="green">Green</option>
                                <option value="red">Red</option>
                                <option value="yellow">Yellow</option>
                                <option value="white">White</option>
                            </select>
                        </div>
                    </li>
                    <li>
                        <div class="col-lg-4 col-md-3 col-sm-6" style="margin-top: 20px;">
                            <label for="projectName">Project Name:</label>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-12" style="margin-top: 20px;">
                            <input type="text" class="form-control" id="projectName">
                        </div>
                    </li>
                    <li>
                        <div class="col-lg-4 col-md-3 col-sm-6" style="margin-top: 20px;">
                            <label for="email">Project Date:</label>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-12" style="margin-top: 20px;">
                            <datepicker date-format="yyyy-MM-dd" selector="form-control">
                                <div class="input-group">
                                    <input class="form-control" style="background: transparent; border:solid 2px white; color: white;" placeholder="" />
                                    <span class="input-group-addon" style="cursor: pointer">
        						<i class="fa fa-lg fa-calendar" ></i>
        						</span>
                                </div>
                            </datepicker>
                        </div>
                    </li>
                    <li>
                        <div class="col-lg-4 col-md-3 col-sm-6" style="margin-top: 20px;">
                            <label for="guestCount">Guests Count:</label>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-12" style="margin-top: 20px;">
                            <input type="text" class="form-control" id="guestCount">
                        </div>
                    </li>
                    <li>
                        <div class="col-lg-4 col-md-3 col-sm-6" style="margin-top: 20px;">
                            <label for="eventVenue">Event Venue:</label>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-12" style="margin-top: 20px;">
                            <input type="text" class="form-control" id="eventVenue">
                        </div>
                    </li>
                    <li>
                        <div class="col-lg-4 col-md-3 col-sm-6" style="margin-top: 20px;">
                            <label for="email">Project Image:</label>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-12" style="margin-top: 20px;">
                            <!-- <button class="btn btn-primary">Select Image</button> -->
                            <input type="file" style="border: 0px;" class="form-control" id="file">
                        </div>
                    </li>
                    <li class="text-center">
                        <button type="submit" style="margin-top: 20px; background: transparent; border: solid 2px #2e6da4; width: 100%;" class="btn btn-primary">Create Event</button>
                    </li>
                </ul>
            </form>
        </div>
    </div>
</div>
