<div class="row row-horizon" ng-controller="MainCtrl">
    <div class="col-lg-3 col-md-5 col-sm-7 col-xs-7 event-cards" ng-click="go('dashboard')">
        <div id="event-img-1" style="background: url(./images/card-bg1.jpg);
                height: 250px;
                background-size: cover;
                background-position: center center;">
        </div>
        <div class="card-extras">
            <h3 class="text-center">FREDERICK WEDDING</h3>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="c100 orange p80 progress-circle">
                    <span>80%</span>
                    <div class="slice">
                        <div class="bar"></div>
                        <div class="fill"></div>
                    </div>
                </div>
                <p class="text-center" style="margin-top: 10px;">COMPELITION</p>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="c100 p80 progress-circle">
                    <span>80%</span>
                    <div class="slice">
                        <div class="bar"></div>
                        <div class="fill"></div>
                    </div>
                </div>
                <p class="text-center" style="margin-top: 10px;">BUDGET</p>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-5 col-sm-7 col-xs-7 event-cards">
        <div id="event-img-1" style="background: url(./images/bg2.jpg);
                height: 250px;
                background-size: cover;
                background-position: center center;">
        </div>
        <div class="card-extras">
            <h3 class="text-center">ASANA YOGA RETREAT</h3>
            <div class="c100 green p80 progress-circle">
                <span>80%</span>
                <div class="slice">
                    <div class="bar"></div>
                    <div class="fill"></div>
                </div>
            </div>
            <p style="padding: 10px;"><span class="pull-left">ARCHIVE</span><span class="pull-right">CASE STUDY</span></p>
        </div>
    </div>
    <div class="col-lg-3 col-md-5 col-sm-7 col-xs-7 event-cards">
        <div id="event-img-1" style="background: url(./images/bg.jpg);
                height: 250px;
                background-size: cover;
                background-position: center center;">
        </div>
        <div class="card-extras">
            <h3 class="text-center">FREDERICK WEDDING</h3>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="c100 orange p80 progress-circle">
                    <span>80%</span>
                    <div class="slice">
                        <div class="bar"></div>
                        <div class="fill"></div>
                    </div>
                </div>
                <p class="text-center" style="margin-top: 10px;">COMPELITION</p>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="c100 p80 progress-circle">
                    <span>80%</span>
                    <div class="slice">
                        <div class="bar"></div>
                        <div class="fill"></div>
                    </div>
                </div>
                <p class="text-center" style="margin-top: 10px;">BUDGET</p>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-5 col-sm-7 col-xs-7 event-cards">
        <div id="event-img-1" style="background: url(./images/bg2.jpg);
                height: 250px;
                background-size: cover;
                background-position: center center;">
        </div>
        <div class="card-extras">
            <h3 class="text-center">ASANA YOGA RETREAT</h3>
            <div class="c100 green p80 progress-circle">
                <span>80%</span>
                <div class="slice">
                    <div class="bar"></div>
                    <div class="fill"></div>
                </div>
            </div>
            <p style="padding: 10px;"><span class="pull-left">ARCHIVE</span><span class="pull-right">CASE STUDY</span></p>
        </div>
    </div>
</div>
