<div class="dropdown">
    <button class="btn" ng-click="toggleSelect()" ng-disabled="disabled" ng-class="{'error': !valid()}">
    <span class="">{{header}}</span>
  </button>
    <ul class="dropdown-menu">
        <li>
            <input class="input-block-level" type="text" ng-model="searchText.label" autofocus="autofocus" placeholder="Search Vendor" style="    border: 1px solid #2a7399;
    display: block;
    /* margin: 0!important; */
    width: 100%;
    /* text-align: center; */
    padding: 5px 10px;
    color: black;
    margin-bottom: 7px;" />
        </li>
        <li ng-show="multiple">
            <button class="btn-link btn-small" ng-click="checkAll()"><i class="icon-ok"></i> Check all</button>
            <button class="btn-link btn-small" ng-click="uncheckAll()"><i class="icon-remove"></i> Uncheck all</button>
        </li>
        <li ng-repeat="i in items | filter:searchText">
            <a ng-click="select(i); focus()">
                <i ng-class="{'fa fa-check': i.checked, 'icon-empty': !i.checked}"></i>{{i.label}}</a>
        </li>
    </ul>
</div>